<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778994165396-79bvcb2v3s46e8nu4jejocck4fo15mbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778994165396-79bvcb2v3s46e8nu4jejocck4fo15mbd</string>
	<key>API_KEY</key>
	<string>AIzaSyAnUBpyqAfCkGQsniXsFHuJZxxY7sLXFVk</string>
	<key>GCM_SENDER_ID</key>
	<string>778994165396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qr</string>
	<key>PROJECT_ID</key>
	<string>qrscannergklcl</string>
	<key>STORAGE_BUCKET</key>
	<string>qrscannergklcl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778994165396:ios:ef370d002237ace5187681</string>
</dict>
</plist>